* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  /* border: 1px solid gray; */
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.loding {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
}

svg {
  width: 100%;
  height: 5rem;
  display:inline-block;
}